
log/*
bin/
back/
xxx/

__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/

*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.sh
.vscode/
.history/
__pycache__/
*.code-workspace
*.sublime-*
